
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Khalil Acheche</title>
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">

		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS
		================================================== -->
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">

		<link href="css/theme-style.css" rel='stylesheet' type='text/css' />

       		<script src="js/jquery-1.11.1.min.js"></script>

		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <script src="js/responsiveslides.min.js"></script>
        <script>
			$(function () {
			   	$("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
		</script>
    </head>

    <body id="body" >

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body">Khalil Acheche</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="navbar-elements"><a href="#body" >Home<div id ="Home" ></div></a></li>
                        <li class="navbar-elements"><a href="#service">About me<div id="AboutMe" ></div></a></li>
                        <li class="navbar-elements"><a href="#portfolio">Portfolio<div id="Portfolio"></div></a></li>
                        <li class="navbar-elements"><a href="#contact">Contact<div id="Contact"></div></a></li>
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->

		<main class="site-content" role="main">

        <!--
        Home Slider
        ==================================== -->

		<section id="home-slider">
			    <div  class="callbacks_container">
			      <ul class="rslides" id="slider4">
			        <li>
			          <img src="slides/images/slide1.jpg" alt="">
			          <div class="caption text-center">
			          	<div class="slide-text-info">
			          		<h7 class="h7">Hello</h7>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="slides/images/slide2.jpg" alt="">
			          <div class="caption text-center">
			          	<div class="slide-text-info">
			          		<h7 class="h7">I'm Khalil</h7>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="slides/images/slide3.jpg" alt="">
			           <div class="caption text-center">
			           	<div class="slide-text-info">
			          		<h7 class="h7">Hello</h7>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="slides/images/slide4.jpg" alt="">
			          <div class="caption text-center">
			          	<div class="slide-text-info">
			          		<h7 class="h7">Hello</h7>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="slides/images/slide5.jpg" alt="">
			          <div class="caption text-center">
			          	<div class="slide-text-info">
			          		<h7 class="h7">Hello</h7>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="slides/images/slide6.jpg" alt="">
			          <div class="caption text-center">
			          	<div class="slide-text-info">
			          		<h7 class="h7">Hello</h7>
			          	</div>
			          </div>
			        </li>
			      </ul>
			    </div>

		</section>

        <!--
        End Home SliderEnd
        ==================================== -->

			<!-- about section -->
			<section id="about" >
				<div class="container">
					<div class="row">

						<div class="col-md-7 col-md-offset-1 wow animated fadeInRight" style="padding-top: 70px;">
							<div class="welcome-block">
								<h3 class="TitleMinimal"><font size="50">Welcome</font></h3>
						     	 <div class="message-body">
									<img src="img/member-1.jpg" class="pull-left" alt="member">
						       		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
						     	 </div>
						       	<!--<a href="#" class="btn btn-border btn-effect pull-right">Read More</a>-->
						    </div>
						</div>
					</div>
				</div>
			</section>
			<!-- end about section -->


			<!-- Service section -->
			<section id="service">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">My Skills</h2>
							<p class="wow animated bounceInRight">The Key Features of our Job</p>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<img class="service-itemArduino" height="30" width="60" />
								</div>
								<h3>Arduino and electronics</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<div class="service-itemScriptlang">Js</div>
								</div>
								<h3>Javascript</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<div class="service-itemScriptlang">C#</div>
								</div>
								<h3>Unity Game Development</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-html5 fa-3x"></i>
								</div>

								<h3>FrontEnd Web Development</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- end Service section -->

			<!-- portfolio section -->
			<section id="portfolio">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>FEATURED PROJECTS</h2>
							<p>Following are the projects that I took part in</p>
						</div>


						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
                    			<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
								<figcaption class="mask">
									<h3>Tunirobots</h3>
									<p>My experience with the robotics</p>
								</figcaption>
                        			<img src="img/portfolio/tr.jpg" class="img-responsive" alt="">
                   				</a>
							</li>

							<li class="portfolio-item">
                    			<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
								<figcaption class="mask">
									<h3>NanoCopter</h3>
									<p>A small project with Tunarduino</p>
								</figcaption>
                        			<img src="img/portfolio/nano.jpg" class="img-responsive" alt="">
                   				</a>
							</li>

							<li class="portfolio-item">
                    			<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
								<figcaption class="mask">
									<h3>Against The Flow</h3>
									<p>My first mobile game</p>
								</figcaption>
                        			<img src="img/portfolio/atf.jpg" class="img-responsive" alt="">
                   				</a>
							</li>

							<li class="portfolio-item">
                    			<a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
								<figcaption class="mask">
									<h3>Mutliplayer Pong</h3>
									<p>Discovering Socket.io and Node.js</p>
								</figcaption>
                        			<img src="img/portfolio/pong.jpg" class="img-responsive" alt="">
                   				</a>
							</li>

							<li class="portfolio-item">
                    			<a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
								<figcaption class="mask">
									<h3>My first Website ever</h3>
									<p>My first ever Website</p>
								</figcaption>
                        			<img src="img/portfolio/web.jpg" class="img-responsive" alt="">
                   				</a>
							</li>


						</ul>

					</div>
				</div>
			</section>
			<!-- end portfolio section -->
		
